.container2 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1,
h2 {
    margin-top: 0;
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in 0.5s ease-in-out forwards;
    animation-delay: 0.2s;
}

label {
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;

}

body {
    background-image: url(img/fundo\ img\ formacess.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container2 {
    
    color: #FFFFFF;
}

.blue-text {
    color: #2979FF;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    background-color: #FFFFFF;
}

.btn {
    background-color: #2979FF;
}